*.gem
*.rbc
/.bundle/*
!/.bundle/config
/.config
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/generated/
/output/
/app/services/provider/*.rb
!/app/services/provider/README.md
/vendor/bundle
.idea/
.vscode/
.DS_Store
*.swp
